.routesX{
    width: 100%;
    padding-top: 4rem;
}
main{
    width: 100%;
}
.user_page{
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
    align-items: flex-start;
}
.private_header, .private_active_header{
    width: 100%;
    position: fixed !important;
}
.nav_ul{
    list-style: none;
}
.nav_ul li .nav_link{
    color: #fff;
}
.page{
    color: #fff;
    padding: 0.5rem 0rem;
    text-decoration: none;
    letter-spacing: 1px;
}
.active_page{
    color: goldenrod;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
}
.nav_ul li{
    padding-bottom: 1rem;
    position: relative;
    top: 1.2rem;
    transition: 0.5s ease all;
}
.nav_list::after{
    content:  " ";
    display: block;
    width: 20;
    height: 20px;
}
.nav_active_list::after{
    content:  " ";
    display: block;
    width: 20;
    height: 20px;
    background-image: url("../../Settings/assets/images/triangle.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    transform: rotateZ(180deg);
    margin: 0 auto;
}
.nav_ul li a{
    transition: 0.5s ease all;
}
.sidebar__items .sidebar__links li:nth-child(2) a{
    position: relative;
}
.sidebar__items .sidebar__links li:nth-child(2) a span{
    position: absolute;
    left: 1.6rem;
    top: 1.5rem;
    transform: translateY(-7px);
    color: black;
    font-size:20px;
    font-weight: bold;
}
.private_active_sidebar{
    width: 5%;  
    position: fixed;
}
.private_active_sidebar .sidebar__items .sidebar__links  .sidebar_active_list:nth-child(2) span{
    color: black;
}
.private_sidebar .sidebar__items .sidebar__links li:nth-child(2) a span{
    color: black;
    top: 0.5rem;
}
.trending_home_page_title{
    color: #fff;
    padding: 1rem 0rem;
    font-size: 23px;    
    letter-spacing: 1px;
}
.movies_text{
    color: goldenrod;
    text-decoration: underline;
}
.private_active_header{
    background: #000;
}
.private_search{
    display: flex;
    align-items: center;
    background: #fff;
    padding: 0.1rem 0.4rem;
}