.top_rated_movies, .upcoming_movies, .search_page_movies, .popular__page_movies, .popular__movies, .now_playing_movies_carousel, .now_playing_movies, .locals_movies, .credit_movies_page_items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.top_rated_movies .movie_carousel, .upcoming_movies .movie_carousel, .popular__page_movies .movie_carousel, .popular__movies .movie_carousel, .now_playing_movies_carousel .movie_carousel, .now_playing_movies .movie_carousel, .credit_movies_page_items .movie_carousel{
    width: 30%;
    margin: 1rem 0rem;
}
